* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    background-color: mediumspringgreen;
    font-family: 'IBM Plex Mono', monospace;
  }
  
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.section {
    margin-top: 2vh;
    border: 2px solid orange;
}

#header {
  width: 68%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#body-content {
  width: 51%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.header-text {
  width: 34%;
  border: 2px solid orange;

}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.f1-col {
  flex: 1;
  border: 2px solid skyblue;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: 'DM Serif Text', serif;
}

h3 {
  text-align: center;
}