body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  overflow: scroll;
}


.container {
  position: relative;
  height: 500px;
  width: 1000px;
  border: 4px dashed purple;
  margin-top: 4vh;
}

.section {
  height: 80vh;
}

.text-panel {
  height: auto;
  width: 60vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.panel {
  width: 30%;
}

.absolute {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 5%;
  height: 250px;
  width: 250px;
  background-color: palegreen;
}

.relative {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  left: 50%;
  height: 250px;
  width: 350px;
  background-color: rgb(186, 142, 228);
}

.fixed {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 5%;
  top: 15%;
  height: 220px;
  width: 220px;
  background-color: palegoldenrod;
}




/*
=========================================
TEXT
========================================= 
*/

.container-text { 
  height: 10%; 
  display: flex;
  align-items: center;
  justify-content: right; 
  background-color: lightskyblue; 

 } 

h5 {
  margin: none;
  width: 65%;
}

.absolute-text {
  margin: 5%;
}

.relative-text{
  margin: 5%;
}

.fixed-text{
  margin: 5%;
}


span {
  font-size: 2rem;
}