body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  overflow: scroll;
}


.container {
  position: relative;
  height: 500px;
  width: 900px;
  margin-top: 4vh;
}

.section {
  height: 80vh;
  /* background-color: red; */
  border: 4px dashed purple;
 
}


.panel {
  width: 30%;
}

.absolute {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 25%;
  height: 280px;
  width: 450px;
  background-color: rgb(172, 248, 172);
  border-bottom: 2px solid rgb(221, 38, 181);
}

.relative {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  left: 50%;
  height: 260px;
  width: 350px;
  background-color: rgb(198, 162, 233);
}

.relative-original-position {
  position: absolute;
  background-color: rgba(117, 190, 218, 0.4);  
  height: 260px;
  width:350px;
  display: flex;
}

.fixed {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 1.5%;
  top: 15%;
  height: 270px;
  width: 270px;
  background-color: rgb(255, 249, 185);
}




/*
=========================================
TEXT
========================================= 
*/

.container-text { 
  height: 10%; 
  display: flex;
  align-items: center;
  justify-content: right; 
  background-color: lightskyblue; 

 } 

h5 {
  margin: none;
  width: 65%;
}

.absolute-text {
  margin: 5%;
}

.relative-text{
  margin: 5%;
}

.relative-original-position-text {
  margin: 0rem 2rem;
}

.fixed-text{
  margin: 6%;
}

.pink-text {
  font-size: 16px;
  color:  rgb(221, 38, 181);
}

.blue-text {
  font-size: 16px;
  background-color:  lightblue;
}

.container-width-key {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

span {
  font-size: 2rem;
}